.ui-menu {
    background-color: #e9ebee;
    min-height: calc(100vh - 45px);
    a {
        border-bottom: 1px solid #fefefe;
        border-top: 1px solid #fefefe;
        color: #ababab;
    }
    li {
        margin-top: 0 !important;
        &.active {
            a {
                background-color: #ababab !important;
                color: #222222 !important;
            }
        }
    }
}