.ui-home {
  .nav {
    margin-top: 20px;
    &.nav-tabs {
      border-color: #ffffff;
    }
    li {
      &.active {
        a {
          background-color: #ffffff;
          border-color: #ffffff;
          color: #4267b2;
          font-weight: 700;
          &:hover {
            background-color: #ffffff;
            border-color: #ffffff;
            color: #4267b2;
          }
        }
      }
      a {
        color: #4267b2;
        font-weight: 400;
        &:hover {
          background-color: #4267b2;
          color: #ffffff;
          font-weight: 700;
        }
      }
    }
  }
  .home-container {
    background-color: #ffffff;
    // User Stats
    .ui-user-stats {
      .profile-container {
        background-color: #ffffff;
        margin: 0;
        .profile-details {
          border-right: 1px solid #dedede;
          .profile-name {
            font-size: 30px;
          }
          .profile-link {
            color: #ababab;
            font-size: 18px;
            margin: 0 10px;
          }
          .profile-detail {
            color: #ababab;
            font-size: 12px;
            text-decoration: underline;
          }
          .profile-detail-icon {
            color: #ababab;
            font-size: 12px;
          }
          .profile-gender {
            color: #ababab;
            text-transform: uppercase;
          }
        }
        .profile-stats {
          .stats-holder {
            color: #4267b2;
            font-size: 24px;
            margin: 0;
            text-align: center;
          }
          .stats-label {
            color: #ababab;
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }
    // Price points
    .ui-price-points {
      padding: 20px 0;
      .price-point {
        fill: #ffffff;
        r: 5;
        stroke: #ff5733;
        stroke-width: 2;
      }
      .price-label {
        font-size: 12px;
        fill: #000000;
      }
      .price-points-line {
        fill: none;
        stroke: #ff5733;
        stroke-width: 4;
      }
      .price-point-legend {
        fill: #ff5733;
        height: 5px;
        width: 20px;
      }
      .price-grid-line {
        stroke: #ababab;
        stroke-dasharray: 3,3;
        stroke-width: 1;
      }
      .axis {
        .domain {
          stroke: #ababab;
        }
        .tick {
          line {
            stroke: #ababab;
          }
          text {
            fill: #ababab;
          }
        }
      }
    }
  }
}
