.ui-login {
  height: 100vh;
  .page-container {
    height: 100%;
    .row {
      height: 100%;
      .theme-background {
        background-color: #4267b2;
        border-left: 1px solid #133783;
        min-height: 100%;
      }
    }
  }
  .login-container {
    height: calc(100% - 80px);
    position: absolute;
    top: 40px;
    margin-left: 125px;
    margin-right: 125px;
    max-width: calc(100% - 250px);
    .row {
      height: 100%;
      .login-logo {
        margin: 0 auto 20px auto;
        text-align: center;
      }
      .login-button {
        background-color: #4267b2;
        border: 1px solid #133783;
      }
      .login-details {
        background-color: #ffffff;
        border: 1px solid #133783;
        border-radius: 4px;
        min-height: 100%;
        padding: 10% 15px;
      }
    }
  }
}
